.panel{
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}



.panel>a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 255, 0); 
}