*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mainpage{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.playbutton{
    object-fit: none;
    max-width: 430px;
    max-height: 130px;
    padding: 10px 40px;
    border:none;
    border-radius: 40px;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 242, 67);
    font-weight:700;
    background-color: rgb(0, 0, 0);
    margin-top: 20%;
}

.container{ 
    margin-top: -100px;
    background-image: url("bg.png");

}

.conway1{
    display: flex;
    flex-direction: column;
    justify-content:space-around;

    align-items: center;
    margin-top:10%;
    max-width: 450px;



}

.conway2{
    display: flex;
    flex-direction: column;
    justify-content:space-around;

    align-items: center;
    max-width: 650px;
    max-height: 500px;
    margin-top: 15% ;



}

.bg{
    margin-top: -3px;
    background-image: url("bg2.png");
    color:rgb(250, 250, 250);
}

.rules{
    background-image: url("bg.png");
}

.playbutton:hover{
    box-shadow: 0px 0px 15px rgb(0, 255, 0);
    text-shadow: 0px 0px 8px rgb(0, 255, 0);
}


